<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          대통령은 법률이 정하는 바에 의하여 사면·감형 또는 복권을 명할 수 있다.
          헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은
          대통령이 임명한다. 국가는 재해를 예방하고 그 위험으로부터 국민을
          보호하기 위하여 노력하여야 한다. 대통령은 필요하다고 인정할 때에는
          외교·국방·통일 기타 국가안위에 관한 중요정책을 국민투표에 붙일 수
          있다.
        </p>

        <p>
          선거에 관한 경비는 법률이 정하는 경우를 제외하고는 정당 또는
          후보자에게 부담시킬 수 없다. 국회의원은 국가이익을 우선하여 양심에
          따라 직무를 행한다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을
          가진다. 대통령의 국법상 행위는 문서로써 하며, 이 문서에는 국무총리와
          관계 국무위원이 부서한다. 군사에 관한 것도 또한 같다.
        </p>
      </div>
      <div id="footer clearfix">
        <h2>푸터</h2>
        <ul>
          <li>
            근로자는 근로조건의 향상을 위하여 자주적인 단결권·단체교섭권 및
            단체행동권을 가진다.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
