<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officia
      inventore nisi beatae omnis, cum, laboriosam illum aliquam excepturi quasi
      quas reprehenderit veniam officiis repudiandae cupiditate neque iste dolor
      ab ipsam voluptate molestias perspiciatis saepe autem optio. Possimus
      error neque doloremque accusamus architecto quibusdam eius, debitis
      sapiente in hic quis? Voluptatem, ab cum. Ipsam alias ipsum praesentium
      obcaecati delectus, neque quam libero incidunt beatae doloribus
      repudiandae. Fugit, perferendis nemo dolore, eaque commodi veniam sequi
      iste repellat adipisci autem id harum similique nostrum animi deleniti vel
      ad eum illo, labore reprehenderit reiciendis officia? Exercitationem
      incidunt excepturi cumque doloremque voluptates impedit quo maiores atque
      repellat veritatis quae laudantium, illum asperiores nostrum, deserunt
      voluptatem odit obcaecati! Sapiente, amet totam similique, ipsa impedit
      quisquam magni delectus voluptatum alias mollitia vel nemo, quam accusamus
      libero quidem velit? Ducimus aut ipsam cupiditate impedit temporibus
      officia explicabo, totam quidem. Cumque commodi praesentium pariatur quia
      nobis. Ab vero magnam iure, officia asperiores in consequuntur aspernatur
      distinctio quo ipsum natus perspiciatis debitis dolorem quae aperiam ad,
      molestias temporibus cupiditate! Eum sint ab eius repellendus quasi
      doloremque, ullam aut officiis qui iste error quis sed in modi, libero
      ipsum, nobis mollitia cumque quae? Totam illo ducimus quod consectetur
      atque sapiente aspernatur quasi, incidunt reiciendis dolorem et!
      Reiciendis, sapiente! Velit, recusandae facilis similique exercitationem
      sint soluta perferendis blanditiis harum tenetur ipsa sequi error corrupti
      natus ut labore voluptatum quis nam rem sed accusantium minus neque
      numquam est? Dolores autem ipsam repellat molestias vitae, exercitationem
      quo suscipit iure omnis magni cum modi voluptatibus corporis recusandae
      labore? Vero itaque expedita inventore, iusto porro tempore, iste
      repellendus veritatis harum, dolores deleniti ipsam maiores assumenda cum
      nostrum nam ipsa. Corrupti rem ipsum hic obcaecati dolore a. Accusantium
      odio magni earum provident quam quasi eveniet nulla facere velit illum
      modi eos deleniti, alias exercitationem ipsam omnis ducimus eius dolorem
      voluptas magnam? Laborum inventore perspiciatis quos fuga ullam!
      Consectetur, sapiente omnis? Blanditiis vero officia libero, hic vitae
      aliquam velit. Perferendis quo harum ipsam numquam magni vitae distinctio
      consequatur, asperiores fugiat quod dolor soluta ea. Minus, vero cumque!
      Excepturi laborum consectetur quas! Quia eius, nisi blanditiis reiciendis
      repudiandae vel impedit atque voluptatum earum quo placeat autem nobis
      unde aspernatur architecto voluptates deserunt fugit asperiores corporis
      cum et a! Laboriosam facere in tempora suscipit nulla consequatur?
      Molestias maxime repudiandae et illo doloremque cupiditate possimus
      voluptatem, incidunt aliquid non odit ipsa, hic sapiente dignissimos
      reiciendis enim rerum dolorem amet ab magni ea distinctio autem maiores?
      Veritatis temporibus magnam sequi. Ad, aspernatur! Deleniti est aliquid
      ducimus suscipit, optio delectus, enim nulla sequi laboriosam qui
      consequuntur? Non, odit, ut quas eum cupiditate nobis maiores provident
      expedita fuga voluptas nam quod quis est eaque quibusdam, ea doloremque
      cumque tempora. Asperiores ducimus cupiditate atque magnam earum! Ad
      officiis tenetur minus nulla perspiciatis fuga dolores? Amet eaque ut hic
      eveniet id a! Obcaecati, sapiente vero tempore amet vel odit soluta
      laboriosam nemo nostrum cum alias ullam sunt minima consequuntur rerum
      voluptatum maxime expedita aliquid aliquam natus iusto eos. Corporis sit,
      velit quasi omnis nisi veniam?
    </p>
  </body>
</html>
